[Unit]
Description=Change KDE system colors and/or icons at night, and revert in the morning.

[Service]
ExecStart=/etc/systemd/system/nightColor.sh

[Install]
WantedBy=multi-user.target
