[Unit]
Description=Run the service every hour, at the end of the first minute.

[Timer]
OnCalendar=*-*-* *:01:00
Persistent=true

[Install]
WantedBy=timers.target
