[Unit]
Description=Change KDE system colors and/or icons at night, and revert in the morning.

[Service]
ExecStart=%h/.config/systemd/user/nightColor.sh

[Install]
WantedBy=multi-user.target
